.about-section {
  background-color: whitesmoke;  
  padding: 60px 32px;              
  color:black;               
}
.about-us{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  
}
.about-us h1{
  flex-grow: 4;
  font-size: 36px;
  margin-bottom: 40px;
}
.about-us span{
  font-size: 12px;
}
.about-boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;

}
.about-box1{
  flex-grow: 4;
  display: flex;
  flex-direction:row ;
  width: 60%;
  gap: 8px;
  justify-content: space-between;
  
  
  
}

.about-box1 .about{
  height: 100%;
  display: flex;
  align-items:flex-start;
  justify-content:flex-start;
  border-radius: 40px;
  width: 100%;

  
}

/* .about-box1 .about:hover{
  width: 55%;
  transition: width 0.5s;

} */
.about-box1 .about h3{
  margin: 20px 20px;

  
}

.about-box2{
  display: flex;
  flex-grow: 1;
  width: 40%;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly; 

}
.about-box2 .about{
  box-sizing: border-box;
  height: 180px;
  padding: 8px;

}

.about-section h1,.about h3{
  font-weight: bold;
  /* background: linear-gradient(to right, #1e5eff, #fd0c9d);
  background-clip: text;           
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent;  */

}