
.home-container{
    width:100%;
    
}

.slider-container {
  display: flex;
  height: 400px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}


.slide {
  height: 320px;
  width: 420px;
  border-radius: 30%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 1s ease-in;
}

.text-wrapper{
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.slide-text ,.text-wrapper p{
  color: white;  font-weight: bold;
  background: linear-gradient(to right, #1e5eff, #fd0c9d);
  background-clip: text;           
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent; 
  padding: 3px 12px;

}


  /* background-image: linear-gradient(to right, #093196, #b94d8e); */

.about-section {
  background-color: white;       
  padding: 60px 20px;            
  text-align: center;    
  color: black;               
}


.about-section h1{
  font-weight: bold;
  background: linear-gradient(to right, #1e5eff, #fd0c9d);
  background-clip: text;           
  -webkit-background-clip: text;    
  -webkit-text-fill-color: transparent; 
  margin-bottom: 20px;
}


.services-section{
  color:white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to right, #093196, #b94d8e); */
  align-items: center;
  justify-content: center;
  gap: 20px;
 
}
.services-section h1{
  text-align: center;
}

.service-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  gap: 4px;

}
.service{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-evenly;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 12px;
  height: 160px;
  width: 48%;
  margin-bottom: 8px;
  padding: 8px;
  
}
.service h3{
  text-decoration: underline;
}
