@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #1e5eff, #fd0c9d);
 
}

code {
  font-family: 'Poppins', monospace;
}
h1, h2, h3 {
  font-weight: 600; 
}


.nav-bar{
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  flex-direction: row;
  padding: 27px 68px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.62);
  
}
.nav-link{
  text-decoration: none;
  color: White;
}
.navbar-links{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.navbar-button{
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.login-button ,.logout-button, .signup-button{
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 3px;
  /* padding: 4px 20px; */
}
.signup-button{
  background-color: #2134c3;
  color: white;
}
.login-button{
  background-color: #67B26F;
  color: white;
}
.logout-button{
  background-color: #FF3333;
  color: white;
}