.error-box{
    border: 1px solid red;
    margin: 0;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 54, 54);
    background-color: rgba(255, 0, 0, 0.298);

}
.btn-submit{
    border-radius: 8px;
    margin-top: 8px;
    height: 42px;
    color: white;
    font-size: 18px;
    background-color: #2134c3;
    border: transparent;
}
.btn-submit:hover{
    background-color: #2740fd;
    font-size: 19px;
    transition: font-size 0.5s background-color 0.5s;
}